#nav-bar {
  height : 80px; 
  position : fixed;
  top: 0;
  width: 100%;
  background:  #00a087;
  color: #e8fdff;
  padding: 0em 2em 0em 2em;
  z-index: 1;
}
#nav-bar .logo {
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 5px;
}
#nav-bar .header {
  float: left;
  font-size: 2rem;
  line-height: 2.5;
  margin-left: 5px;
}
.compose {
  float: right;
  height: 60px;
  border-radius: 8px;
  border: 1px solid black;
  margin-top: 10px;
  opacity: 0.8;
}
.compose:hover {
  opacity: 1;
}
/* Responsive design */
@media (max-width: 450px) {
  #nav-bar {
    height : 80px; 
    position : fixed;
    top: 0;
    width: 100%;
    background:  #00a087;
    color: #e8fdff;
    padding: 0em 1em 0em 1em;
    z-index: 1;
}